<section class="example">
<h3>30 records, Grouped columns, Office and Sales columns pinned, Year columns collapsible</h3>
{{ag-grid height="500px" width="800px" gridOptions=departments theme="ag-bootstrap"}}
</section>