<section class="example">
  <h3>50 Records, Material column spans 5 rows, Material and Type columns pinned</h3>
{{ag-grid height="300px" width="800px" gridOptions=materials  theme="ag-bootstrap"}}
</section>