nav {
  margin-bottom: 50px;
}

.ag-grid-header {
  font-weight: bold;
  text-transform: uppercase;
}

.example {
  margin-bottom: 60px;
}

/* custom scroll bar for Pagination example */
.pagination-grid-example .ag-body-viewport::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
}
.pagination-grid-example .ag-body-viewport::-webkit-scrollbar-thumb {
    border-radius: 45px;
    background-color: rgba(0,0,0,.2);
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.pagination-grid-example .ag-body-viewport::-webkit-scrollbar-track {
  box-shadow: 0px 0px 3px #bbb inset;
  padding: 3px 0;
}

.input-theme {
  margin-bottom: 15px;
}

.ag-grid-container {
  margin-bottom: 20px;
}

.players .example {
  width: auto;
  float: left;
}

.profile h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.players .more-info {
  padding: 0 40px;
  float: right;
  width: 450px;
}

.players .more-info  ul {
  list-style: none;
  float: right;
  padding-left: 10px;
  max-width: 200px;
}

.players .more-info  ul li  {
  padding: 2px;
}

.players .more-info  ul li span {
  color: #0b0b5c;
  font-weight: bold;
  text-transform: uppercase;
}

.players .more-info img {
  border-radius: 5%;
  float: left;
}