<div class="container">
<h2 id="title" class="page-header">Ember ag-Grid Examples</h2>
  <ul class="nav nav-tabs">
    {{#link-to "simple-example" tagName='li'}}<a>Simple Grid Example</a>{{/link-to}}
    {{#link-to "complex-example" tagName='li'}}<a>Complex Grid Example</a>{{/link-to}}
    {{#link-to "multipleheaders-examples" tagName='li'}}<a>Multiple Headers Examples</a>{{/link-to}}
    {{#link-to "pagination-example" tagName='li'}}<a>Pagination Example</a>{{/link-to}}
    {{#link-to "tree-data-example" tagName='li'}}<a>Tree Data Example</a>{{/link-to}}
    {{#link-to "row-selection-example" tagName='li'}}<a>Row Selection Example</a>{{/link-to}}
  </ul>

{{outlet}}

</div>
